.workshops-past-cards-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to a new row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    scroll-snap-align: start;
    gap: 1em;

    
    -ms-overflow-style: thin; /* Hide scrollbar for IE and Edge */
    scrollbar-width: thin; /* Hide scrollbar for Firefox */

    position: relative;
    padding-bottom: 6px; /* Create space between cards and scrollbar */
    scrollbar-color: var(--color-selected) var(--color-main); /* Thumb and track colors */
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
}


/* Chrome-specific styles */
.workshops-past-cards-container::-webkit-scrollbar {
    height: 10px; /* Slightly taller scrollbar */
    background: var(--color-main); /* Track background */
    border-radius: 10px; /* Rounded track borders */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
.workshops-past-cards-container::-webkit-scrollbar-thumb {
    background: var(--color-selected); /* Thumb color */
    border-radius: 10px; /* Rounded thumb borders */
    border: 2px solid var(--color-main); /* Space between thumb and track */
}

.workshops-past-cards-container::-webkit-scrollbar-thumb:hover {
    background: darken(var(--color-selected), 10%); /* Darker thumb on hover */
}

.workshops-past-cards-container::-webkit-scrollbar-corner {
    background: transparent ; /* Remove corner triangles */
}

/* Firefox-specific styles */
.workshops-past-cards-container {
    scrollbar-color: var(--color-selected) var(--color-main); /* Thumb and track colors */
    scrollbar-width: thin; /* Thin scrollbar */
}

/* Firefox scrollbar track and thumb adjustments */
.workshops-past-cards-container::-moz-scrollbar {
    height: 12px; /* Taller track */
    border-radius: 10px; /* Rounded track borders */
}

.workshops-past-cards-container::-moz-scrollbar-thumb {
    border-radius: 10px; /* Rounded thumb borders */
}