:root {
    --margin-slider: 5.75em;
    --image-border: 0.5em;
    --opacity-image: 0.15;

    --color-main: rgb(181, 214, 173);
    --color-selected:  rgb(27, 67, 17);
    --color-background: rgb(5, 28, 18);
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content div {
    line-height: 2;
}

h1 {
    font-size: 2.45em;
    font-weight: 700;
    letter-spacing: 0.55em;

    line-height: normal;

}


h3, h4 {
    font-weight: 400;
}


p {
    font-weight: 200;
}

.menu-item {
    cursor: pointer;
}

.menu-top, .menu-bottom {
    display: flex;
    gap: 50vw;
}

.menu-top {
    margin-bottom: .35em;
}

.menu-bottom {
    margin-top: .35em;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
    
    color: var(--color-main);
    background-color: var(--color-background);
}

.image-slider {
    position: relative;

    width: calc(100% - var(--margin-slider));
    height: calc(100% - var(--margin-slider));     
}

.slides-container {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: var(--image-border);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
    "contact workshops"
    "title title"
    "form .";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
}

.contact {
    grid-area: contact;

    padding: 2em 0 0 20%;
}

.workshops {
    grid-area: workshops;

    padding: 2em 0 0 50%;
}

.title {
    grid-area: title;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-top {
    padding-right: 5em;
}

.title-bottom {
    padding-left: 5em;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.form-row {
    display: flex;
    gap: clamp(1.5em, 4vw, 2.5em);
    /* justify-content: space-around; */
}

.form-input {
    display: flex;
}

textarea {
    height: 1.2em;
    width: 35ch;

    padding: 0.15em 0 0.15em 0.33em;

    font-size: 1em;
    font-weight: 300;

    color: var(--color-selected);
    background-color: var(--color-main);

    border-radius: 0.33em;
    border: none;
    border-bottom: solid 2px var(--color-selected);

    resize: none;
}

button {
    align-self: flex-start;
    
    margin-top: 1em;
    padding: 0.5em;

    width: 185px;

    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1.65px;
    color: var(--color-main);
    background-color: var(--color-selected);


    border-radius: 0.35em;
    border: none;

    cursor: pointer;
}

button:focus, textarea:focus, input:focus, a:-webkit-any-link  {
    outline: none;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    z-index: 3;

    padding: 0.5em;
    
    font-size: 2em;
    border: none;
    
    transform: translateY(-50%);
    
    cursor: pointer;
}

.left {
    left: -1.085em;
}

.right {
    right: -1.085em;
}

.dimmed {
    transition-duration: 1s;
    opacity: var(--opacity-image);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease, visibility 0s linear 1.2s; /* Retrasa la visibilidad */
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}