:root {
    --margin-slider: 5.75em;
    --margin-slider__mobile: 1.75em;
    --image-border: 0.5em;
    --opacity-image: 0.15;

    --color-main: rgb(162, 196, 153);
    --color-selected:  rgb(27, 67, 17);
    --color-background: rgb(5, 28, 18);
    --color-background-title: rgb(5, 28, 18, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body, html {
    overflow: hidden
}

.content div {
    line-height: 2;
}

h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: .5em 0;

    text-align: center;

    font-size: 2.45em;
    font-weight: 700;
    letter-spacing: 0.55em;
    word-spacing: .25em;

    line-height: normal;

    background-color: var(--color-background-title);
}

h2 {
    font-weight: 600;
}

h3, h4 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

a, a:visited, a:active {
    color: var(--color-main);
    text-decoration: none;
}
a:hover {
    font-weight: 500;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    color: var(--color-main);
    background-color: var(--color-background);
}

.menu-item {
    cursor: pointer;
}

.menu-item:focus, .menu-item:hover {
    font-weight: 600;
}

.menu-top {
    display: flex;
    justify-content: space-around;

    margin-bottom: .35em;

    width: 100%;
}

.menu-bottom {
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-top: .35em;

    position: relative;
}

.close {
    cursor: pointer;
}

.image-slider {
    position: relative;

    width: calc(100% - var(--margin-slider));
    height: calc(100% - var(--margin-slider));
}

.slides-container {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: var(--image-border);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;

    width:  100%;
    height: 100%;

    opacity: 0;

    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.content {
    width: 100%;
    min-width: 0;
    height: 100%;

    position: relative;
    top: 0;
    left: 0;

    z-index: 3;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-workshop {
    display: flex;
    flex-direction: column;
    gap: .65em;
    align-items: center;

    position: absolute;
    bottom: 5em;

    /* margin: auto;
    text-align: center; */
    padding: 2em 4em;

    background-color: var(--color-background-title);
    border-radius: var(--image-border);
}

.btn-next-workshop {
    /* margin: 1em auto 0 auto; */
    align-self: center;
    margin-bottom: .7em;
}

.kokedama-container, .form-container {
    position: relative;
    /* position: absolute; */
    /* top: 35vh; */
}


/* ***  C O N T A C T  *** */
/* ***  C O N T A C T  *** */

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    width: 55vw;
    position: absolute;
    top: 8vh;
    left: calc(22.50vw - var(--margin-slider)/2);
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.contact-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5em;
}

/* .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5em;
} */

/* .contact-photo {
    min-width: 400px;
    min-height: 400px;

} */

.contact-details {
    margin-top: 1em
}

.contact-details h3 {
    line-height: 2rem;
}



/* ***  K O K E D A M A  *** */
/* ***  K O K E D A M A  *** */

.kokedama {
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    width: 55vw;
    position: absolute;
    top: 8vh;
    left: 22.50vw;
}

.kokedama-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.kokedama-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5em;
}

.kokedama-photo {
    min-width: 400px;
    min-height: 400px;
}



/* ***  F O R M  *** */
/* ***  F O R M  *** */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 18vh;
    left: 22.50vw;

    gap: .55em;
    width: 55vw;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.form-row {
    display: flex;
    gap: clamp(1.5em, 4vw, 2.5em);
}

.form-input {
    display: flex;
    align-items: center;
    height: 2.25em;
}

textarea {
    height: 1.2em;
    width: 35ch;

    padding: 0.15em 0 1.25em 0.33em;

    font-size: 1em;
    font-weight: 300;

    color: var(--color-selected);
    background-color: var(--color-main);

    border-radius: 0.33em;
    border: none;
    border-bottom: solid 2px var(--color-selected);

    resize: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea::placeholder {
    font-size: 0.85em;
    font-weight: 300;
}

button {
    align-self: flex-start;

    margin-top: 1em;
    padding: 0.5em;

    width: 185px;

    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1.65px;
    color: var(--color-main);
    background-color: var(--color-selected);


    border-radius: 0.35em;
    border: none;
    border: solid 2px var(--color-selected);

    cursor: pointer;
}

button:focus, textarea:focus, input:focus, a:-webkit-any-link  {
    outline: none;
}

button:hover, button:focus {
    color: var(--color-selected);
    background-color: var(--color-main);
}


/* ***  W O R K S H O P S  *** */
/* ***  W O R K S H O P S  *** */

.workshops {
    display: flex;
    justify-content: center;

    /* height: 100%; */

    /* position: absolute;
    top: 0;
    left: 0; */
}

.workshops-container {
    width: 65vw;

    position: absolute;
    top: 0;
}

.workshops-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.workshops-upcoming {
    display: flex;
    flex-direction: column;

    margin-top: 3em;
}

.workshops h2 {
    margin-top: 1.8em;
}

/* *** C A R D S *** */
/* *** C A R D S *** */

.workshops-past-cards-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to a new row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    scroll-snap-align: start;
    gap: 1em;

    position: relative;
    padding-bottom: 6px; /* Create space between cards and scrollbar */
}


/* Chrome-specific styles */
.workshops-past-cards-container::-webkit-scrollbar {
    height: 10px; /* Slightly taller scrollbar */
    background: var(--color-main); /* Track background */
    border-radius: 10px; /* Rounded track borders */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
.workshops-past-cards-container::-webkit-scrollbar-thumb {
    background: var(--color-selected); /* Thumb color */
    border-radius: 10px; /* Rounded thumb borders */
    border: 2px solid var(--color-main); /* Space between thumb and track */
}

.workshops-past-cards-container::-webkit-scrollbar-thumb:hover {
    /* background: darken(var(--color-selected), 10%);  */
    background: var(--color-background); /* Darker thumb on hover */
}

.workshops-past-cards-container::-webkit-scrollbar-corner {
    background: transparent ; /* Remove corner triangles */
}

/* Firefox-specific styles */
.workshops-past-cards-container {
    scrollbar-color: var(--color-selected) var(--color-main); /* Thumb and track colors */
    scrollbar-width: thin; /* Thin scrollbar */
}

/* Firefox scrollbar track and thumb adjustments */
.workshops-past-cards-container::-moz-scrollbar {
    height: 12px; /* Taller track */
    border-radius: 10px; /* Rounded track borders */
}

.workshops-past-cards-container::-moz-scrollbar-thumb {
    border-radius: 10px; /* Rounded thumb borders */
}

.workshop-card {
    flex: 0 0 250px; /* Set a fixed width for all cards */
    display: flex;
    flex-direction: column;
}

.workshop-card__image {
    width: 100%;
    aspect-ratio: 16 / 9; /* Maintain a consistent aspect ratio */
    object-fit: cover;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.workshop-card__info {
    display: flex;
    flex-direction: column;

    color: var(--color-selected);
    background-color: var(--color-main);

    border-bottom-left-radius: var(--image-border);
    border-bottom-right-radius: var(--image-border);
}

.workshop-card__location{
    padding-left: 0.5em;

    font-size: 0.85em;
    font-weight: 600;
}

.workshop-card__details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-size: 0.75em;

    border-bottom-left-radius: var(--image-border);
    border-bottom-right-radius: var(--image-border);
}

.workshop-card__city, .workshop-card__date {
    padding: 0 0.5em 0 0.5em;
}


.join-container {
    display: flex;
    flex-direction: column;
    gap: .55em;

    margin-top: 1.5em;
}

/* .join-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.arrow-btn {
    position: absolute;
    top: 50%;
    z-index: 5;

    padding: 0.5em;

    font-size: 2em;
    border: none;

    transform: translateY(-50%);

    cursor: pointer;
}

.left {
    left: -1.5em;
    left: -1.085em;
}

.right {
    right: -1.5em;
    right: -1.085em;
}

.dimmed {
    transition-duration: 1s;
    opacity: var(--opacity-image);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease, visibility 0s linear 1.2s; /* Retrasa la visibilidad */
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}



/* *** O F F - C A N V A S   M E N U *** */
/* *** O F F - C A N V A S   M E N U *** */

.off-canvas-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;

    height: 100vh;
    width: 100%;
    max-width: 450px;

    background-color: var(--color-background);

    position: fixed;
    top: 0;
    right: -450px;

    transition: .3s ease;
    z-index: 12;
}

.off-canvas-menu.active {
    right: 0;

}

.off-canvas-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.off-canvas-menu ul li {
    margin: 2em 0;
}

nav {
    display: flex;
    justify-content: end;

    width: 100vw;
    padding: 2em;
    background-color: transparent;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

}

.menu-toggle {
    width: 35px;
    height: 35px;

    position: relative;
    cursor: pointer;
    z-index: 20;
}

.menu-icon {
    z-index: 1 !important;
    width: 100%;
    height: 3px;

    background-color: var(--color-main);
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.menu-icon:first-child {
    top: 25%;
}

.menu-icon:last-child {
    top: 75%;
}

.menu-toggle.active .menu-icon:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active .menu-icon:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .menu-icon:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



@media (min-width: 769px){
    nav{
        display: none;
    }
}



/* Hide menu-top and menu-bottom on mobile */
@media (max-width: 768px) {
    .menu-top, .menu-bottom {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .image-slider {
        width: calc(100% - var(--margin-slider__mobile));
        height: calc(100% - var(--margin-slider__mobile));
    }

    .title h1 {
        font-size: 1.8em;
        text-align: center;
    }

    .next-workshop {
        margin-top: 1em;
        padding: 1em;
    }

    .arrow-btn {
        display: none;
    }


/* *** A B O U T   O V E R L A Y *** */
/* *** A B O U T   O V E R L A Y *** */

    .contact {
        padding-right: 0.5em; /* More space for scrollbar on mobile */
        gap: 0.5em;

        width: 94vw;
        /* height: calc(100% - 5vh); */

        /* width: calc(100vw - var(--margin-slider__mobile)); */
        height: calc(100vh - var(--margin-slider__mobile));

        position: absolute;
        top: 0;
        left: 0;

        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        -webkit-overflow-scrolling: touch;
    }


    /* Chrome/Safari scrollbar for .contact */
    .contact::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    .contact::-webkit-scrollbar-thumb {
        background: var(--color-main);
        border-radius: 4px;
    }

    .contact::-webkit-scrollbar-button {
        background: var(--color-main);
        height: 12px;
    }

    .contact::-webkit-scrollbar-button:vertical:decrement {
        border-radius: 4px 4px 0 0;
    }

    .contact::-webkit-scrollbar-button:vertical:increment {
        border-radius: 0 0 4px 4px;
    }

    /* Firefox scrollbar for .contact */
    .contact {
        scrollbar-color: var(--color-main) transparent;
        scrollbar-width: thin;
    }

    .contact-header{
        padding-top: 2em;
    }

    .contact-body {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .contact-personal {
        display: flex;
        flex-direction: column;
        gap: .65em
    }

    .contact-details {
        width: 90%;
        margin: 0 auto;
    }

    .contact-details h3, .contact-details p{
        line-height: 1.5rem;
    }

    .contact-photo {
        min-height: auto;
    }
    
    .contact-photo img {
        width: 90%;
        margin: 0 auto;
    }
    
    .contact-info p {
        padding: 0 1.15em;
    }
    
    /* .contact-info {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    } */

}