* {
    margin: 0;
    padding: 0;

    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200, 400, 700, 900 ;
    font-style: normal;
}

/*.roboto-condensed-<uniquifier> {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900    
}
*/

body { 
    width: 100vw;
    height: 100vh;
    
    background-image: url("/assets/kokedama.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    flex-direction: column;

    padding: 0 3.5em;
    /*background-color: rgba(255, 255, 255, 0.219);*/
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    margin: 1em;

    color: white;
    font-size: 1.08em;
    letter-spacing: .15em;
    text-transform: uppercase;
    
}

.logo {
    width: 65px;
    height: 65px;

    align-self: flex-end;
}

.cards {
    display: flex;
    
    margin:4em 0 0 8em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 15%;
    min-width: 235px;
    min-height: 350px;

    background-color: rgb(7, 70, 49);
    border-radius: 1em;

    margin-right: 5em;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4em;

    color: white
}